/etl_pipeline/__pycache__/
/etl_pipeline/venv/
/etl_pipeline/conda/
/etl_pipeline/vscode/
/etl_pipeline/bloom/
/etl_pipeline/data/
/etl_pipeline/big-data/
/etl_pipeline/model/
/etl_pipeline/deploy_examples/
/etl_pipeline/etl_manifest.yaml
/etl_pipeline/etl_manifest2.yaml
/etl_pipeline/manifest.yaml
/etl_pipeline/README.md
/etl_pipeline/image_path/
/etl_pipeline/.ipynb_checkpoints/
/etl_pipeline/Untitled.ipynb
/etl_pipeline/README.md
