[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
elasticsearch = "*"
pybloom = {git = "git+https://github.com/jaybaird/python-bloomfilter.git#egg=pybloom"}
extruct = "==0.14.0"
minio = "==7.1.14"
pyarrow = "*"
mlscraper = {git = "git+https://github.com/lorey/mlscraper#egg=mlscraper"}
fastparquet = "*"
s3fs = "*"
datamart-geo = "*"
pillow = "==9.5.0"
transformers = "*"
torch = "*"
beautifulsoup4 = "*"
arrow = "*"
psutil = "*"
sentencepiece = "*"
protobuf = "==3.20.1"
chardet = "*"
ftfy = "*"
pybase64 = "*"
torchvision = "*"
lxml = "<5.1.1"
pyspark = "*"
virtualenv = "*"
venv-pack = "*"
koalas = "*"

[dev-packages]

[requires]
python_version = "3.10"
