pandas
elasticsearch
pybloom @ git+https://github.com/jaybaird/python-bloomfilter.git#egg=pybloom
extruct==0.14.0
minio==7.1.14
pyarrow
mlscraper @ git+https://github.com/lorey/mlscraper#egg=mlscraper
fastparquet
s3fs
datamart_geo
Pillow==9.5.0
transformers==4.29.2
torch
beautifulsoup4
arrow
psutil
pyspark
# xformers
sentencepiece
protobuf==3.20.1
chardet
ftfy
pybase64
torchvision
lxml<5.1.1  # https://github.com/scrapinghub/extruct/issues/215
